#container {
    display: flex;
    flex-direction: row;
    column-gap: 12px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bi {
    color: white;
}

#pfp {
    color: white;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

#header {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: none;
    font-weight: 30;
    font-style: bold;
}

#description {
    color: white;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: none;
    font-weight: 30;
    font-size: 12pt;
    font-style: bold;
}

#particles-js {
    width: 100%;
    height: 100vh;
    background-color: black;
    position: absolute;
}
